<%= form_for @task, remote: true do |f| %>

  <div class="form-group">
    <%= f.text_area :description, placeholder: "Task To Be Completed", class: 'form-control' %>
  </div>
  <div class="form-group" style="position: relative">
    <%= f.text_field :deadline, id: "datetimepicker1", placeholder: "When is this task due?", class: 'form-control' %><br>
  </div>
  <div class="form-group">
    <%= f.button :Submit, class: "btn btn-primary" %>
  </div>
<% end %>
